<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tsaei">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tsaei">
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".personalFinanceQuiz"
            android:exported="false"
            android:parentActivityName="Home" />
        <activity
            android:name=".stockTracker"
            android:exported="false" />
        <activity
            android:name=".personalFinanceLessons"
            android:exported="false"
            android:parentActivityName=".Home" />
        <activity
            android:name=".macroeconLessons"
            android:exported="false"
            android:parentActivityName=".Home2" />
        <activity
            android:name=".investingLessons"
            android:exported="false"
            android:parentActivityName=".Home3" />
        <activity
            android:name=".Home3"
            android:exported="false"
            android:parentActivityName=".home_page" />
        <activity
            android:name=".Home2"
            android:exported="false"
            android:parentActivityName=".home_page" />
        <activity
            android:name=".Home"
            android:exported="false"
            android:parentActivityName=".home_page" />
        <activity
            android:name=".home_page"
            android:exported="false"
            android:parentActivityName=".RegisterActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".startingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>